<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Student Activity 02</title>
    <style>
        body {
            background-image: url(https://images.wallpaperscraft.com/image/single/black_dark_fractal_149686_300x168.jpg);
        }
        h1 {  
          color: aliceblue;
        }
        font {  
          color: aliceblue;
        }
        BA { 
          background-color: rgb(197, 114, 5); 
        }    
        p { 
          color: rgb(197, 5, 5); 
        }   
        span { 
          color: rgb(3, 0, 0); 
        } 
      </style>
</head>

<body>
    <div class="container mt-5">
        <div class="card">
            <BA class="card-body text-left" >
                <h1><img class="rounded-circle img-fluid" style="width: 120px;"src={{ url_for('static', filename="images/Gambar.jpeg" ) }}>Hafidzun Alim </h1>
                <font size = "3">Jember, Indonesia | nidamandaing@gmail.com | 083147161526</font>
            </BA>
        </div>
        <div class="container-fluid">
            <div class="row" style="height: 200vmh;">
                <div class=" col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2">
                    <div class="card text-white bg-dark mb-3" style="width: 16rem;margin-bottom: 20px;">
                      <div class="card-body">
                        <h5 class="card-title">PENDIDIKAN</h5>
                        <div class="dropdown">
                          <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Baca Lebih Lanjut
                          </button>
                          <ul class="dropdown-menu p-3" style="width: 260px;" aria-labelledby="dropdownMenuButton1">
                            <p>SMAN Ambulu <br> <span class="name">jurusan ilmu pengetahuan alam (2017-2020)</span></p>
                            <p>Universitas Jember <br> <span class="name">S1 Informatika (2020-sekarang)</span></p>
                          </ul>
                        </div>
                      </div>
                     </div>
                </div>
                <div class=" col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2">
                    <div class="card text-white bg-dark mb-3" style="width: 16rem;margin-bottom: 20px;">
                      <div class="card-body">
                        <h5 class="card-title">PENGALAMAN</h5>
                        <div class="dropdown">
                          <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Baca Lebih Lanjut
                          </button>
                          <ul class="dropdown-menu p-3" style="width: 260px;" aria-labelledby="dropdownMenuButton1">
                            <p>Pelatihan Kegiatan Computer Progamming Learning <br> <span class="name">Web Development (2021)</span></p>
                            <p>Program Pelatihan Artificial Intelligence <br> <span class="name">AI 4 Jobs (2022)</span></p>
                            <p>Simposium Internasional <br> <span class="name">Menuju Indonesia Emas 2045: Peran Diaspora Indonesia dalam Bidang Sosial, Teknologi dan Moderasi Beragama (2023)</span></p>
                          </ul>
                        </div>
                      </div>
                     </div>
                </div>
                <div class=" col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2">
                    <div class="card text-white bg-dark mb-3" style="width: 16rem;margin-bottom: 20px;">
                      <div class="card-body">
                        <h5 class="card-title">KEAHLIAN</h5>
                        <div class="dropdown">
                          <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Baca Lebih Lanjut
                          </button>
                          <ul class="dropdown-menu p-3" style="width: 260px;" aria-labelledby="dropdownMenuButton1">
                            <p>MS Word</p>
                            <p>Team Work</p>
                            <p>Problem Solving</p>
                            <p>Leadership</p>
                          </ul>
                        </div>
                      </div>
                     </div>
                </div>
                <div class=" col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2">
                    <div class="card text-white bg-dark mb-3" style="width: 16rem;margin-bottom: 20px;">
                      <div class="card-body">
                        <h5 class="card-title">HOBI</h5>
                        <div class="dropdown">
                          <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Baca Lebih Lanjut
                          </button>
                          <ul class="dropdown-menu p-3" style="width: 260px;" aria-labelledby="dropdownMenuButton1">
                            <p>Tenis</p>
                            <p>Badminton</p>
                            <p>Memancing</p>
                            <p>Main Game</p>
                          </ul>
                        </div>
                      </div>
                     </div>
                </div>
            </div>
        </div>
        

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
		</div>
</body>

</html>